<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,39},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{74,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{64,64}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,39},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{64,64}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{221,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,181}}</string>
                <key>sourceSize</key>
                <string>{221,181}</string>
            </dict>
            <key>popup_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{230,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,300}}</string>
                <key>sourceSize</key>
                <string>{230,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>disp_parts.png</string>
            <key>size</key>
            <string>{234,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c0770217d426736c258e6130df3be60:e6716327340315f9ed7893cd514526b0:f54cfadfd9ff87524b090fbd3967955f$</string>
            <key>textureFileName</key>
            <string>disp_parts.png</string>
        </dict>
    </dict>
</plist>
