<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,608},{40,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{40,39}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,336},{150,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,10}}</string>
                <key>sourceSize</key>
                <string>{150,10}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,920}}</string>
                <key>sourceSize</key>
                <string>{640,920}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,680},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,608},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,632},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,649},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>block_violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,656},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,673},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>p_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,470},{136,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>p_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,185},{149,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{149,169}}</string>
                <key>sourceSize</key>
                <string>{159,173}</string>
            </dict>
            <key>p_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,336},{132,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{132,161}}</string>
                <key>sourceSize</key>
                <string>{142,169}</string>
            </dict>
            <key>p_violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,608},{71,195}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{71,195}}</string>
                <key>sourceSize</key>
                <string>{137,207}</string>
            </dict>
            <key>p_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{181,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{181,173}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_parts.png</string>
            <key>size</key>
            <string>{819,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:697b7459bb8afb5762a98db0658a1f51:94b1687716a4b52e270110091607c79d:6720046186b8e06ae240265f128e30bc$</string>
            <key>textureFileName</key>
            <string>game_parts.png</string>
        </dict>
    </dict>
</plist>
