<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini_anim1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{86,100}}</string>
                <key>offset</key>
                <string>{32,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,72},{86,100}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{86,98}}</string>
                <key>offset</key>
                <string>{34,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{86,98}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{88,100}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{88,100}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{86,98}}</string>
                <key>offset</key>
                <string>{34,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{86,98}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{102,100}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{98,100}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,72},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,100}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{102,100}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{104,98}}</string>
                <key>offset</key>
                <string>{34,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,74},{104,98}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{88,98}}</string>
                <key>offset</key>
                <string>{43,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{88,98}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{88,98}}</string>
                <key>offset</key>
                <string>{42,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,74},{88,98}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{88,104}}</string>
                <key>offset</key>
                <string>{43,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{88,104}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>mini_anim3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{90,108}}</string>
                <key>offset</key>
                <string>{43,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{90,108}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mini_anim.png</string>
            <key>size</key>
            <string>{1078,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:013f950e3d7b0bd54d3632c6a9901f3d:ec8891226ae3c852b78626ba03c3f941:d334a50f97b083123d5b002f11f38e7b$</string>
            <key>textureFileName</key>
            <string>mini_anim.png</string>
        </dict>
    </dict>
</plist>
