<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage10_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage10_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage11_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage11_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage12_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage12_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage13_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage13_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage14_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage14_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage15_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage15_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage16_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage16_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage1_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage1_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,104},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage2_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage2_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage3_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage3_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage4_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage4_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage5_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage5_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,206},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage6_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage6_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage7_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage7_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage8_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage8_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage9_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>stage9_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,308},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{2018,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9a280a6ab8e88d38e1549593e1e0219:a3dec1fdf834bcf680ed1c325cc7ca03:7eb5439bbe0a439972743765553c9929$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
